:root {
	--bg-color: #BA2030;
	--default-font: 'Inconsolata', Helvetica;
	--default-color: #acd;
	--header-footer-font: 'Quattrocento', Courier, monospace;
	--header-footer-color: #acd;
	--h1-color: yellowgreen;
	--para-color: #112242;
	--code-color: #00ff00;
	--code-bg-color: black;
	--code-border-color: #111111;
	--anchor-color: orange;
	--list-item-color: #11dd88;
	--fullscreen-color: #BA2030;
}
